html {
  position: relative;
  min-height: 100%;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
	display: inline;
}

.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}


body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.sub-info {
	color: #747d77;
}


@media (min-width: 768px) {
	.thumbnail .grid-img {
        height: 200px;
    }
}

@media (min-width: 992px) {
	.thumbnail .grid-img {
        height: 130px;
    }
}

@media (min-width: 1200px) {
	.thumbnail .grid-img {
        height: 150px;
    }
}


